<!DOCTYPE html>
<html>
<head>
   <% include partials/head %>
</head>
<body>
   <div class="container">

       <div class="col-sm-6 col-sm-offset-3">

           <h1>Assignments</h1>

           <!-- show any messages that come back with authentication -->
           <% if (message.length > 0) { %>
               <div class="alert alert-danger"><%= message %></div>
           <% } %>

           <!-- DROPDOWN FORM -->
           <form action="/assignments" method="post">
               <div class="row">

                        <div class="col-md-4">
                               <div class="dropdown">
                                   <label for="">Users: </label><br>
                                   <select name="user" class="form-control">
                                           <option type="text" ></option>
                                           <% users.forEach(function(user) { %>
                                           <option type="text" value="<%= user._id %>" ><%= user.name%></option>
                                           <% }) %>
                                   </select>
                               </div>
                           </div>
                   <div class="col-md-4">
                           <div class="dropdown">
                               <label for="">Clients: </label><br>
                                   <select name="client" class="form-control">
                                   <!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">Clients<span class="caret"></span></button> -->
                                   <option type="text" ></option>
                                   <% clients.forEach(function(client) { %>
                                   <option type="text" value="<%= client._id %>" ><%= client.name%></option>
                                   <% }) %>
                                   </select>
                           </div>
                       </div>
                   <div class="col-md-4">
                       <div class="dropdown">
                           <label for="">Roles: </label><br>

                                           <select name="scopes" class="form-control">
                                           <option type="text"></option>
                                           <option type="text" value="Admin">Admin</option>
                                           <option type="text" value="User">User</option>
                                           </select>
                       </div>
                   </div>
               </div>
               <br>
               <div class="row">
                   <div class="col-md-8"></div>
                   <div class="col-md-4"><button type="submit" class="btn btn-warning btn-lg pull-right">Assign</button></div>

               </div>
           </form>
           </div>
       </div>
</body>
</html>