<!doctype html>
<html>

<head>
    <% include partials/head %>
    <% include partials/customCss %>
</head>

<body>

    <div class="container admin-panel-form">
        <div class="custom-container">
            <h2 align="center">Client List</h2>
            <div class="row">
                <div class="col-md-6">
                    <a href="/adminPanel"><i class="fas fa-chevron-left"></i> Back</a>
                </div>
                <div class="col-md-6">
                    <a style="float:right" href="/AddAClient"><i class="fas fa-user-plus"></i> Add a new client</a>
                </div>
            </div>



            <table class="table custom-table mt-20">
                <tr>
                    <th>Date Created</th>
                    <th>ClientName</th>
                    <th>Redirect</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                </tr>
                <% clients.forEach(function(client, i) { %>
                <tr>
                    <td><%= client.stringCreated %></td>
                    <td><%= client.name %></td>
                    <td><%= client.redirect %></td>
                    <td>
                        <a href="/adminEnableClient/<%= client._id %>">
                            <% if(client.enabled === false){ %>
                            <i class="btn btn-custom-disabled">Disabled</i>
                            <% }else{ %>
                            <i class="btn btn-custom-enabled">Enabled</i>
                            <% } %>
                        </a>
                    </td>
                    <td>
                        <a href="/clientsUsers/<%= client._id %>">
                            <i class="fas fa-list"></i>
                        </a>
                        <a href="/editClient/<%= client._id %>">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="/deleteClient/<%= client._id %>" class="custom-trash">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </table>

            <div class="footer mt-40">
                <div class="col-md-6 offset-md-3 text-center">
                    <p>© 2019 Copyright By Apollo Team</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>