<!doctype html>
<html>
<head>
    <% include partials/head %>
    <% include partials/customCss %>
<script>
document.getElementById('datePicker').value =new Date().toDateInputValue();
document.getElementById('datePicker').value =Date().now
</script>
</head>
<body>
    <div class="container custom-form">

        <div class="custom-container">

        <h2>Client profile</h2>

        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/editClient" method="post">
            <!-- <div class="form-group">
                <label>ClientCode</label>
                <input type="text" class="form-control" name="ClientCode">
            </div> -->
            <div class="form-group">
                <label></label>
                <input  type="hidden" class="form-control" name="id" value="<%= client.id%>">
            </div> 
            <div class="form-group">
                <label>ClientName</label>
                <input type="text" class="form-control" name="name" value="<%= client.name %>">
            </div>       
            <div class="form-group">
                <!-- <label>Claims</label> -->
                <input type="hidden" class="form-control" name="claims"value="<%= client.claims%>">
            </div>
            <div class="form-group">
                <!-- <label>Secret</label> -->
                <input type="hidden" class="form-control" name="secret"value="<%= client.secret%>">
            </div>
            <div class="form-group">
                <label>Redirect</label>
                <input type="text" class="form-control" name="redirect"value="<%= client.redirect%>">
            </div>
            <!-- <div class="form-group">
                <label>DateCreated</label>
                <input type="date" class="form-control" id="datePicker" >
            </div> -->
            <button type="submit" class="btn btn-custom-primary">Submit</button>
        </form>
        <hr>
        <p>Go to <a href="/users">Users</a></p>
        <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
</body>
</html>




